<form action="/host/delete-home" method="POST" class="h-full">
  <input name="id" value="<%= home.id %>" class="hidden">
  <button type="submit" class="text-center h-full w-full bg-red-400 rounded-xl hover:cursor-pointer hover:scale-105 transition-all duration-500 text-white text-md font-medium">Delete Home</button>
</form>