<div class="bg-slate-200 px-10 py-5">
  <header class="flex justify-center items-center max-w-6xl bg-slate-200 mx-auto min-w-fit flex-wrap gap-y-5 gap-x-10 sm:gap-x-0">
    <a class="text-2xl font-medium text-pink-600 hover:scale-110 transition-all duration-300 mr-0 sm:mr-auto" href="/">
      Airbnb
    </a>
    <nav class="inline-flex flex-row-reverse">
      <a
      class="bg-white inline-block w-fit px-3 py-1 rounded-xl text-md hover:scale-105 transition-all duration-300 font-light text-black"
      href="/host/add-home">
        Add Home
      </a>
      <a
      class="bg-white inline-block w-fit mr-2 px-3 py-1 rounded-xl text-md hover:scale-105 transition-all duration-300 font-light text-black"
      href="/host/host-homes">
        My Homes
      </a>
      <a
      class="bg-white inline-block w-fit mr-2 px-3 py-1 rounded-xl text-md hover:scale-105 transition-all duration-300 font-light text-black"
      href="/homes">
        Listing
      </a>
      <a
      class="bg-white inline-block w-fit mr-2 px-3 py-1 rounded-xl text-md hover:scale-105 transition-all duration-300 font-light text-black"
      href="/">
        Home
      </a>
      <a
      class="bg-white inline-block w-fit mr-2 px-3 py-1 rounded-xl text-md hover:scale-105 transition-all duration-300 font-light text-black"
      href="/favorites">
        Favorites
      </a>
    </nav>
  </header>
</div>