<%- include('../partials/head.ejs') %>
</head>
<%- include('../partials/nav.ejs') %>
<body class="bg-slate-100">
  <div class="mt-[40vh] flex flex-col w-full">
    <h1 class="text-center font-extralight text-4xl text-pink-700">Home added successfully!</h1>
    <a href="/" class="text-center mt-8 w-fit mx-auto px-3 py-2 bg-pink-500 rounded-xl text-white font-light hover:scale-105 transition-all duration-300">Go to Home</a>
  </div>
</body>
</html>